/* @import url(https://fonts.googleapis.com/css?family=Playfair+Display:100,300,400,700,900); */
body {
  background-color: #141414;
  background-image: url("https://media.giphy.com/media/2wXYzdfnE1K6N3UPi5/giphy.gif");
  /* background-image: url("https://media.giphy.com/media/xT9Igqq02d80wIqUpy/giphy.gif"); purple space */
  /* background-image: url("https://media.giphy.com/media/l49FpvpRi1GbFBGhO/giphy.gif"); wayne and birdman */
  /* background-image: url("https://media.giphy.com/media/3ySE048nUBZ6w/giphy.gif"); black power fist */
  /* background-image: url("https://media.giphy.com/media/e6bq6Xih5SzZK/giphy.gif"); mrt breakdance */
  /* background-image: url("https://media.giphy.com/media/3o752njVJS0WhxeAec/giphy.gif"); rome */
  /* background-image: url("https://media.giphy.com/media/jnTiwLCZtnE1JNB7XS/giphy.gif"); basketball */
  /* background-image: url("https://media.giphy.com/media/13hxeOYjoTWtK8/giphy.gif"); dancing kids */

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100%;



  margin:0; padding:0;
  overflow-x:hidden;
  height:100%;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.45;
  color: #eee;
  color: rgba(255,255,255,.85);
}
#container {
    padding-top: 50px;
}
#content {
    max-width: 43em;
    padding:10px;
    margin: 0 auto;
}
h1 {
    font-size: 4.8em;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
}
.title {
  float:left;
  margin-bottom:20px;'
}
.subhead {
  clear:both;
}
h3 {
    font-size: 2.2em;
    font-weight: 300;
    line-height: 1.5;
}
p, li {
    font-size: 1.7em;
}
a {
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}
a:hover {
    text-decoration: none;
    color: #e8d1a8;
    background-color: #333;
    background-origin: content-box;
    /* padding: 5px; */
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}
.left {
    max-width:20em;
    float:left;
}
.right {
    max-width:20em;
    float:left;
}
.contact {
  float: left;
}
ul {
    clear:both;
}

html { font-size: 62.5%; }
body { font-size: 1em;}

.form {
}

.fa {
  padding: 20px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa-facebook {
  background: #1C1C2C;
  color: white;
}

.fa-twitter {
  background: #1C1C2C;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

@media (max-width: 300px) {
    html { font-size: 70%; }
    .left { max-width: 95%; }
    .right { max-width: 95%; }
    .contact { max-width: 95%; }
}
@media (max-width: 440px) {
    h1 { line-height:55px; }
    .left { max-width: 95%; }
    .right { max-width: 95%; }
    .contact { max-width: 95%; }
}
@media (max-width: 460px) {
  h1 { margin-top:50px; text-align:center; }
  .left { max-width: 80%; }
  .right { max-width: 80%; }
}
@media (max-width:900px) {
  html { font-size: 90%; }
  .left { max-width: 80%; }
  .right { max-width: 80%; }
}
@media (min-width: 880px) {
    html { font-size: 120%; }
    p, li { font-size: 1em; }
    .right { margin-left:3em; }
    .stage { -webkit-transform:scale(0.85); transform:scale(0.85); margin-right:120px; }
}
